h1 {
    text-align: center;
}
.lyric {
    text-align: center;
    font-size: 70px;
}
.options {
    margin: 0 auto;
    width: 80%;
}
.pic {
    width: 50%;
    float: left;
}
img { 
    width: 100%; 
    height: 100%; 
}
.options {
    margin: auto;
}

.nextLyric {
    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}
#next {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}